{% extends 'base.html.twig' %}

{% block metatitle %}
    Suppression d'article | Le blog de la Piscine
{% endblock %}

{% block main %}
    <h2>Article "{{ article.title }}" supprimé !</h2>
{% endblock %}



