{% extends "base.html.twig" %}

{% block metatitle %}
    {{ article.title }} | Le blog de la piscine
{% endblock metatitle %}

{% block main %}
    <section class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <article class="card shadow-sm p-4 mb-4">
                    <h2 class="card-title">{{ article.title }}</h2>
                    <p class="text-muted">
                        Date de création : {{ article.createdAt | date('d/m/y h:i:s') }}
                    </p>
                </article>
            </div>
        </div>
    </section>
{% endblock main %}
