{% extends "base.html.twig" %}

{% block metatitle %}
    {{ article.title }} | Le blog de la piscine
{% endblock metatitle %}


{% block main %}
    <section class="articles-container">

        <article class="article-container" >
            <h2>{{ article.title }}</h2>
            <p>Date de création : {{ article.createdAt | date('d/m/y h:i:s') }}</p>
        </article>

    </section>
{% endblock main %}