{% include "partials/_header.html.twig" %}


<section class="articles-container">

        <article class="article-container" >
            <h2>{{ article.title }}</h2>
        </article>

</section>


{% include "partials/_footer.html.twig" %}