{% extends "base.html.twig" %}

{% block metatitle %}
    Categorie créée | Le blog de la piscine
{% endblock metatitle %}


{% block main %}

    <p>{{ message }}</p>

    <form method="post" action="{{ path('create_category') }}">

        <label>Titre
            <input name="title" type="text" required/>
        </label>

        <label>Couleur
            <input type="color" name="color">
        </label>

        <input type="submit">

    </form>


{% endblock main %}
