{% extends "base.html.twig" %}

{% block metatitle %}
    Création d'une catégorie | Le blog de la piscine
{% endblock metatitle %}

{% block main %}
    <section class="container my-5">
        <h1 class="mb-4">Créer une catégorie</h1>
        <div class="card shadow-sm p-4">
            {{ form_start(formCategoryView, {'attr': {'class': 'needs-validation'}}) }}
            {{ form_widget(formCategoryView, {'attr': {'class': 'form-control'}}) }}
            {{ form_end(formCategoryView) }}
        </div>
    </section>
{% endblock main %}
