{% extends 'base.html.twig' %}


{% block metatitle %}
    Categorie supprimée | Le blog de la piscine

{% endblock %}

{% block main %}
    <h2>Vous avez bien supprimé la catégorie {{ category.title }}</h2>

{% endblock %}



