{% extends "base.html.twig" %}

{% block metatitle %}
    Categorie créée | Le blog de la piscine
{% endblock metatitle %}


{% block main %}

    <h2>Vous avez bien créé la catégorie {{ category.title }}</h2>


{% endblock main %}
