{% extends 'base.html.twig' %}

{% block metatitle %}
    contact | Le blog de la piscine
{% endblock %}

{% block main %}

    <p>{{ message }}</p>

    {% if name %}
        <p>Nom du contact : {{ name }}</p>
    {% endif %}

    <form method="post" action="{{ path('contact') }}">
        <label> Message
            <input name="message" type="text">
        </label>

        <label> Nom
            <input name="name" type="text">
        </label>


        <input type="submit" value="Envoyer la demande de contact"/>
    </form>

{% endblock %}



